/**
 * BDS Filter Scroll Listing
 */
 	section.content-flisting{
 		position: fixed;
 		top: -60px;
 		left: 0;
 		right: 0;
 		background: #fff;
	    box-shadow: 0px 4px 8px #292c3229;
	    z-index: 99;
	    transition: all 0.3s ease-out 0.2s;
	    -webkit-transition: all 0.3s ease-out 0.2s;
	    overflow: inherit;
	    &.active{
	    	top: 0;
	    }
	    @media (max-width: 1200px){
	    	display: none;
	    }
	    .content_box{
	    	grid-template-columns: 380px 1fr 134px;
	    	.box_left{
	    		padding: 10px 12px 10px 0;
	    		grid-template-columns: 144px 1fr;
	    		grid-gap: 12px;
	    		.box_tabs{
				    grid-template-columns: repeat(2, minmax(10px,1fr));
				    li{
			    	    text-align: center;
					    border: 1px solid #707070;
					    line-height: 38px;
					    color: $color-text;
					    font-weight: 500;
					    font-size: 12px;
					    cursor: pointer;
					    pointer-events: auto;
					    &.tab_active{
					    	border-color: #00C2AF;
					    	background: #00C2AF;
						    border-radius: 3px 0 0 3px;
						    color: #fff;
					    }
					    &:nth-child(1){
					    	border-radius: 3px 0 0 3px;
						    border-right: none;
						    box-sizing: border-box;
					    }
					    &:nth-child(2){
				    	    border-radius: 0 3px 3px 0;
						    border-left: none;
						    box-sizing: border-box;
					    }
				    }
	    		}
	    		.box_input{
	    			svg{
						position: absolute;
						top: 0;
						left: 8px;
						bottom: 0;
						margin: auto;
						pointer-events: none;
					}
					input{
						width: 100%;
						line-height: 38px;
						height: 40px;
						border: 1px solid #BCC3D2;
						border-radius: 4px;
						padding: 0px 12px 0 32px;
						outline: none;
						font-size: 12px;
						font-weight: 500;
						color: $color-text;
						&::-webkit-input-placeholder {
						  	color: #BCC3D2;
						}

						&:-ms-input-placeholder {
						  	color: #BCC3D2;
						}

						&::placeholder {
						  	color: #BCC3D2;
						}
					}
	    		}
	    	}
	    	.box_middle{
	    		border-left: 1px solid #E9ECF1;
	    		border-right: 1px solid #E9ECF1;
	    		padding: 10px 12px;
	    	}
	    	.box_right{
	    		padding: 10px 0;
	    		grid-template-columns: 1fr 40px;
	    		grid-gap: 8px;
	    		margin-left: 12px;
	    		.button_search{
	    			line-height: 32px;
	    			border-radius: 4px;
	    			background: $color;
	    			font-size: 12px;
	    			color: #fff;
	    			font-weight: 500;
	    			text-align: center;
	    			padding: 0 5px;
	    			outline: none;
	    			border: 0;
	    			&:hover{
	    				background: $color-hover;
	    			}
	    		}
	    	}

			.filter__options{
				grid-template-columns: repeat(5, minmax(10px, 1fr));
				grid-column-gap: 16px;
				.option{
					&.open{
						.option_current{
							border-radius: 3px 3px 0 0;
							svg{
								transform: rotate(180deg);
							}
						}
						.option_dropdown{
							opacity: 1;
							visibility: visible;
						}
					}
					.option_current{
						position: relative;
						line-height: 40px;
						border: 1px solid #E3E6ED;
						border-radius: 3px;
						background: #E3E6ED;
						height: 40px;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    white-space: nowrap;
					    &:hover{
					    	background: #D6DBE5;
					    }
						&.has_value{
							background: #4A5264;
							span{
								color: #fff;
							}
							svg path{
								fill: #fff;
							}
						}
						.icon__right{
							position: absolute;
							right: 8px;
							top: 0;
							bottom: 0;
							margin: auto;
						}
						span{
							display: block;
							padding: 0 28px 0 12px;
							font-size: 12px;
							font-weight: 500;
							color: #292C32;
						    overflow: hidden;
						    text-overflow: ellipsis;
						    white-space: nowrap;
						}
					}
					.option_dropdown{								
						opacity: 0;
						visibility: hidden;
						position: absolute;
					    top: 48px;
					    left: -1px;
					    width: 240px;
					    background: #fff;
					    z-index: 99;
				        border-radius: 4px;
					    box-shadow: 0px 4px 8px rgba(#252A31, 0.16);
					    padding: 4px 0;
					    ul{
					    	list-style-type: none;
					    	padding: 0;
					    	margin: 0;
						    max-height: 240px;
						    overflow: auto;
					    	li{
					    		padding: 10px 36px 8px 16px;
							    color: #252A31;
							    line-height: 19px;
							    position: relative;
							    &:hover{
							    	background: #E9F7F5;
							    }
							    &.current{
							    	background: #E9F7F5;
							    	color: #00C2AF;
							    	&:after{
							    		content: '';
							    		background: url(../images/icon-tick.svg) center /cover;
							    		width: 16px;
							    		height: 16px;
							    		position: absolute;
							    		top: 12px;
							    		right: 12px;
							    	}
							    	svg path{
							    		fill: #00C2AF;
							    	}
							    }
							    .li_icon{
							    	position: absolute;
							    	top: 10px;
							    	left: 12px;
							    	svg{
							    		width: 16px;
							    		height: auto;
							    	}
							    }
							    .li_icon,
							    .li_text{
							    	pointer-events: none;
							    }
					    	}
					    }
					}
				}
			}
	    }
 	}

/**
 * BDS Listing
 */
 	@keyframes shrink-bounce {
 		0% {
		    transform: scale(1);
		}

		33% {
		    transform: scale(.85);
		}
		100% {
		    transform: scale(1);
		}
 	}
 	section.content-blisting{
 		background: #F5F6F9;
 		padding-bottom: 32px;
 		@media (max-width: 992px){
 			padding-top: 50px;
 		}
 		.content_box{
			grid-template-columns: 282px 1fr;
			grid-gap: 24px;
			@media (max-width: 992px){
				grid-template-columns: 1fr;
				display: block;
			}
 		}
 		.box_sidebar{
			@media (max-width: 992px){
				display: none;
			}
			.child{
				border-bottom: 1px solid #E9ECF1;
				padding-bottom: 16px;
				margin-bottom: 16px;
				&.open{
					.child_title{
						svg{
							transform: rotate(0);
						}
					}
				}
				.child_title{
					padding-right: 30px;
					position: relative;
					line-height: 24px;
					font-size: 16px;
					font-weight: 500;
					svg{
						position: absolute;
						top: 0;
						right: 0;
						transform: rotate(180deg);
					}
				}
				.child_content{
					margin-top: 16px;
				}
				.child_search{
					padding: 0 0 16px 0;
					grid-template-columns: 1fr 32px;
					grid-gap: 12px;
					.search__input{
						svg{
							position: absolute;
							top: 0;
							left: 8px;
							bottom: 0;
							margin: auto;
							pointer-events: none;
						}
						input{
							width: 100%;
							line-height: 28px;
							height: 32px;
							border: 1px solid #BCC3D2;
							border-radius: 4px;
							padding: 2px 12px 0 32px;
							outline: none;
							color: $color-text;
							&::-webkit-input-placeholder {
							  	color: #BCC3D2;
							}

							&:-ms-input-placeholder {
							  	color: #BCC3D2;
							}

							&::placeholder {
							  	color: #BCC3D2;
							}
						}
					}
					.search__reset{						
				        width: 32px;
				        line-height: 32px;
				        height: 32px;
				        position: relative;
				        text-align: center;
				        background: #E3E6ED;
				        border-radius: 8px;
				        cursor: pointer;
				        pointer-events: auto;
				        @include transition;
				        &:hover{
				            background: #dce1ea;
				        }
				        &.active{
				            svg{
				                path{
				                    fill: #00c2af;
				                    &.i_active{
				                        opacity: 1;
				                    }
				                }
				            }
				        }
				        svg{
				            pointer-events: none;
				            position: absolute;
				            top: 0;
				            left: 0;
				            right: 0;
				            bottom: 0;
				            margin: auto;
				            path{                
				                @include transition;
				                &.i_active{
				                    opacity: 0;
				                }
				            }
				        }
					}
				}
			}
			.list__checkbox{
				grid-gap: 12px;
				.icheckbox{
					grid-template-columns: 20px 1fr 70px;
					grid-gap: 8px;
					color: $color-text;
					margin: 0;
					position: relative;
					line-height: 23px;
					&:hover{
						.icheckbox_tick{
							border-color: $color;
						}
					}
					input{
						opacity: 0;
						position: absolute;
						&:checked ~ .icheckbox_tick{
							background: $color;
							border-color: $color;
							svg{
								opacity: 1;
							}
						}
					}
					.icheckbox_tick{
					    width: 20px;
					    height: 20px;
					    background: transparent;
					    border: 1px solid #BCC3D2;
					    border-radius: 4px;
					    cursor: pointer;
					    transition: all 250ms cubic-bezier(.4,.0,.23,1);
					    position: relative;
					    svg{
					    	opacity: 0;
					    }
					}
					.icheckbox_number{
						color: #1D9EC9;
						text-align: right;
					}
				}
			}
			.list__radio{
				grid-gap: 12px;
				.iradio{
					&:hover{
						.iradio_box{
							.iradio_tick{
								border-color: $color;
							}
						}
					}
				}
				.iradio_box{
					grid-template-columns: 20px 1fr 70px;
					grid-gap: 8px;
					color: $color-text;
					margin: 0;
					position: relative;
					line-height: 23px;
					input{
						opacity: 0;
						position: absolute;
						&:checked ~ .iradio_tick{
							background: $color;
							border-color: $color;
							&:before{
								opacity: 1;
							}
						}
					}
					.iradio_tick{
					    width: 20px;
					    height: 20px;
					    background: transparent;
					    border: 1px solid #BCC3D2;
					    border-radius: 50%;
					    cursor: pointer;
					    transition: all 250ms cubic-bezier(.4,.0,.23,1);
					    position: relative;
					    &:before{
					    	content: '';
					    	width: 8px;
					    	height: 8px;
					    	border-radius: 50%;
					    	background: #fff;
					    	opacity: 0;
					    	position: absolute;
					    	top: 0;
					    	left: 0;
					    	right: 0;
					    	bottom: 0;
					    	margin: auto;
					    }
					}
					.iradio_number{
						color: #1D9EC9;
						text-align: right;
					}
				}
				.list__radio{
					padding-left: 28px;
					padding-top: 12px;
				}
				.list__more{
					display: table;
					padding: 4px 0 8px;
					text-align: center;
					span{
						display: table;
						margin: auto;
						line-height: 32px;
						height: 32px;
						background: transparent;
						@include transition;
						min-width: 82px;
						padding: 0 12px;
						border-radius: 4px;
						cursor: pointer;
						pointer-events: auto;
						font-size: 12px;
						color: $color-text;
						font-weight: 500;
						&:hover{
							background: #E3E6ED;
						}
					}
				}
			}
 		}
 		.box__wrap{
 			.box_top{
 				justify-content: space-between;
 			}
 			.box_text{
 				margin-top: 4px;
 			}
	 		.box_items{
	 			grid-template-columns: repeat(1, minmax(100px, 1fr));
	 			grid-gap: 15px;
	 			margin-top: 24px;
	 			.item{
	 				box-shadow: 0px 0px 2px #292C3229;
					border-radius: 4px;
					background: #fff;
					padding: 12px;
					position: relative;
					@include transition;
					display: grid;
					grid-template-columns: 250px 1fr;
		 			@media (max-width: 767px){
						grid-template-columns: 160px 1fr;
		 			}	 			
		 			@media (max-width: 450px){
			 			grid-template-columns: repeat(1, minmax(100px, 1fr));
		 			}	 			
					&:hover{
						box-shadow: 0px 1px 4px #292C3229;						
						.nav__prev,
						.nav__next{
							opacity: 1 !important;
						}
					}
					.conn_sicon{
						@media (min-width: 451px){							
							position: absolute;
							top: 10px;
							right: 10px;
						}
					}
					.item_line{
						height: 1px;
						background: $border;
						width: 100%;
						margin: 11px 0;
					}
					.item_galleries{
						position: relative;
						.item_type{
							position: absolute;
							top: 12px;
							left: 12px;
							height: 24px;
							line-height: 22px;
							padding: 0 8px;
							border-radius: 12px;
							z-index: 9;
							&.type_vip{
								background: #00C2AF;
								border: 1px solid #00A394;
							}
							&.type_hot{
								background: #C91D1D;
								border: 1px solid #AE1919;
							}
							&.type_other{
								background: #E07E06;
								border: 1px solid #C26D05;
							}
							svg{
								margin-right: 2px;
							}
							span{
								color: #fff;
								font-size: 12px;
								line-height: 14px;
								font-weight: 500;
							}
						}
						.item_slider{
							position: relative;
							.child{
								height: 162px;
								border-radius: 4px;
								overflow: hidden;
								@media (max-width: 450px){
									height: 220px;
								}
								img{
									height: 100%;
									object-fit: cover;
									width: 100%;
								}
							}
							.owl-dots{
								display: -ms-flexbox;
						        display: -webkit-flex;
						        display: flex;
						        flex-wrap: wrap;
						        -ms-flex-pack: center;
						        -webkit-justify-content: center;
						        justify-content: center;
						        -ms-flex-align: center;
						        -webkit-align-items: center;
						        align-items: center;
						        height: 6px;
						        position: absolute;
						        bottom: 13px;
						        left: 0;
						        right: 0;
								.owl-dot{
									width: 4px;
									height: 4px;
									border-radius: 50%;
									background: #E3E6ED;
									margin: 0 2px;
									&.active{
										width: 6px;
										height: 6px;
										background: #00C2AF;
									}
								}
							}
							.nav__prev,
							.nav__next{
								position: absolute;
								top: 0;
								bottom: 0;
								width: 24px;
								height: 24px;
								background: #fff;
								border-radius: 50%;
								margin: auto;
								@include transition;
								cursor: pointer;
								pointer-events: auto;
								opacity: 0;
								&:hover{
									background: $color;
									svg path{
										fill: #fff;
									}
								}
								svg{
									position: absolute;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;
									margin: auto;
									pointer-events: none;
									path{
										@include transition;
									}
								}
							}
							.nav__prev{
								left: 8px;
							}
							.nav__next{
								right: 8px;
							}
						}
					}
					.item_caption{
						padding-left: 12px;
						@media (max-width: 450px){
							padding: 20px 0 0;
						}
						.item_name{
							font-weight: 500;
							width: calc(100% - 50px);
							a{
								color: $color-dark;
								&:hover{
									color: $color-dark-hover;
								}
							}
						}
						.item_location{
							margin-top: 11px;
							grid-template-columns: 16px 1fr;
							grid-gap: 6px;
							svg{
								position: relative;
								top: -2px;
							}
						}
					}
					.item_info{
						@media (min-width: 451px){							
							+ .item_line{
								display: none;
							}
						}
						ul{
							li{
								grid-template-columns: 16px 1fr;
								grid-gap: 6px;
								+ li{
									margin-top: 8px;
								}
							}
						}
					}
					.item_bottom{
						justify-content: space-between;
						.item_price{
							line-height: 32px;
							strong{
								color: $color;
								font-size: 16px;
								line-height: 24px;
								font-weight: 500;
							}
						}
					}
	 			}
	 		}
	 		.box_more{
	 			display: table;
	 			margin: 32px auto auto;	
	 		}
 		}
 	}

/**
 * BDS Detail
 */
 	section.content-bdetail{
		.content_box{
			grid-template-columns: calc((100% - 48px) / 3 * 2)  calc((100% - 48px) / 3);
			grid-gap: 24px;
			@media (max-width: 992px){
				grid-template-columns: 1fr;
			}
			@media (max-width: 450px){
				display: block;
			}
		}
		.content_top{
			background: #fff;
			.content_post{
				padding: 22px 0;
				justify-content: space-between;
				border-bottom: 1px solid #E9ECF1;
				.actions{
					@media (max-width: 450px){
						margin: 5px 0;
					}
					li + li{
						margin-left: 12px;
					}
					li.action{
						line-height: 32px;
						@media (max-width: 450px){
							display: block;
							width: 100%;
							margin: 0 !important;
						}
						+ li.action{
							margin-left: 26px;
						}
						svg{
							position: relative;
							top: -1px;
						}
					}
				}
			}
			.content_box{
				padding: 32px 0;
			}
			.box__galleries{
				grid-template-columns: 78px 1fr;
				grid-column-gap: 24px;
				@media (max-width: 600px){
					grid-template-columns: 1fr;
					margin-bottom: 30px;
				}
				.gallery-thumbs{
					height: 488px;
					@media (max-width: 992px){
						height: 344px;
					}
					@media (max-width: 600px){
						display: none;
					}
					.swiper-slide{
						width: 78px;
						height: 56px;
						background: no-repeat center /cover;
						border-radius: 4px;
						position: relative;
						cursor: pointer;
						&:after{
							content: '';
							border: 2px solid transparent;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							border-radius: 4px;
						}
						&.swiper-slide-active{
							&:after{
								border-color: $color;
							}
						}
					}
				}
				.gallery-top{
					max-width: 100%;
					// width: 100vw;
					border-radius: 4px;
					.swiper-slide{
					    display: -webkit-box;
					    display: -ms-flexbox;
					    display: -webkit-flex;
					    display: flex;
					    -webkit-box-pack: center;
					    -ms-flex-pack: center;
					    -webkit-justify-content: center;
					    justify-content: center;
					    -webkit-box-align: center;
					    -ms-flex-align: center;
					    -webkit-align-items: center;
					    align-items: center;
					    overflow: hidden;
						height: 488px;
						background: #ccc;
						@media (max-width: 992px){
							height: 344px;
						}
						@media (max-width: 450px){
							height: 250px;
						}
						img{
							margin: auto;
							height: 100%;
							width: 100%;
							object-fit: cover;
						}
					}
					.swiper-button-prev:before{
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M0,0H16V16H0Z' fill='%234a5264' opacity='0'/%3E%3Cpath d='M9.885,9.879l3.3,3.3-.943.943L8,9.879l4.243-4.243.943.943Z' transform='translate(-2.667 -1.879)' fill='%234a5264'/%3E%3C/svg%3E%0A");
					}
					.swiper-button-next:before{
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M0,0H16V16H0Z' fill='%234a5264' opacity='0'/%3E%3Cpath d='M11.522,9.879l-3.3-3.3.943-.943,4.243,4.243L9.165,14.121l-.943-.943Z' transform='translate(-2.741 -1.879)' fill='%234a5264'/%3E%3C/svg%3E%0A");
					}
					.swiper-button-next,
					.swiper-button-prev{
						width: 32px;
						height: 32px;
						border-radius: 50%;
						background: #fff;
						&:before{
							content: '';
							display: block;
							width: 16px;
							height: 16px;
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							margin: auto;
						}
						&:after{
							display: none;
						}
					}
				}
			}
			.box__infor{
				.i__line{
					height: 1px;
					background: $border;
					width: 100%;
					margin: 16px 0;
				}
				.i__heading{
					padding-right: 24px;
					@media (max-width: 450px){
						padding: 0;
					}
				}
				.i__location{
					margin-top: 21px;
					grid-template-columns: 16px 1fr;
					grid-gap: 6px;
					padding-bottom: 15px;
					svg{
						position: relative;
						top: -2px;
					}
				}
				.i__info{
					ul{
						li{
							grid-template-columns: 16px 1fr;
							grid-gap: 6px;
							font-weight: 500;
							+ li{
								margin-top: 8px;
							}
						}
					}
				}
				.i__bottom{
					padding-top: 6px;
					.i__price{
						line-height: 32px;
						strong{
							color: $color;
							font-size: 16px;
							line-height: 24px;
							font-weight: 500;
						}
					}
				}
			}
		}
 		.content_bottom{
 			padding: 24px 0 0;
 			background: #F5F6F9;
			.box__white{
				padding: 24px;
				border: 1px solid #E9ECF1;
				border-radius: 4px;
				background: #fff;
				margin: 8px 0;
			}
			.box__wrap{
				.child{
					+ .child{
						padding-top: 24px;
						margin-top: 24px;
						border-top: 1px solid #E9ECF1;
					}
					.child_title{
						margin-bottom: 14px;
					}
					.child_paragraph{
						grid-row-gap: 24px;
						*{
							margin: 0;
						}
					}
					.child_table{
						.child_ul{
							grid-gap: 14px;
							@media (max-width: 450px){
								grid-gap: 24px;
							}
							li{
								grid-template-columns: repeat(2, minmax(100px, 1fr));
								grid-gap: 20px;
								@media (max-width: 450px){
									grid-template-columns: 1fr;
									grid-gap: 5px;
									span:nth-child(1){
										font-weight: 500;
									}
								}
							}
						}
					}
					.child_actions{
						margin-top: 24px;
						.action{
							+ .action{
								margin-left: 10px;
							}
						}
					}
					.child_info{
						grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
						grid-column-gap: 24px;
						li{
							span{
								display: block;
								color: $slate;
								+ span{
									margin-top: 4px;
									color: #292C32;
								}
							}
						}
					}
				}
			}
			.box_sidebar{
				.box_user{
					.user__avatar{
						width: 80px;
						height: 80px;
						margin: auto;
						img{
							max-width: 100%;
							max-height: 100%;
							border-radius: 50%;
							border: 1px solid #BCC3D2;
						}
					}
					.user__name{
						margin-top: 16px;
					}
					.user__news{
						margin-top: 6px;
						line-height: 16px;
						color: $color;
						font-weight: 500;
					}
					.user__chat{
						display: block;
						width: 100%;
						margin-top: 22px;
					}
					.user__phone{
						padding: 10px 15px 11px 17px;
						background: #E9F7F5;
						border-radius: 8px;
						margin-top: 16px;
						line-height: 16px;
						font-weight: 500;
						color: $color;
						justify-content: space-between;
						position: relative;
						input{
							opacity: 0;
							position: absolute;
							pointer-events: none;
						}
						.phone__click{
							pointer-events: auto;
							cursor: pointer;
						}
						.phone__msg{
						    background: rgba(10,13,20,.8);
						    border-radius: 4px;
						    color: #fff;
						    padding: 6px 12px;
						    line-height: 20px;
						    font-size: 14px;
						    box-sizing: border-box;
						    position: absolute;
						    z-index: 9;
						    bottom: 28px;
						    right: -11px;
						    margin-bottom: 16px;
						    right: calc(50% - 50px);
						    bottom: -50px;
						}
					}
				}
				.box_bds{
					margin-top: 24px;
					.box_items{
						display: block;
						@media (max-width: 992px) and (min-width: 451px){
					    display: grid;
					    grid-template-columns: repeat(2, minmax(100px, 1fr));
					    grid-gap: 24px;
						}
						.item{
							display: block;
		 				box-shadow: 0px 0px 2px #292C3229;
						border-radius: 4px;
						background: #fff;
						padding: 16px;
						position: relative;
						@include transition;
						margin-top: 16px;
			 			@media (max-width: 450px){
		 					margin-top: 12px;
			 			}	 			
						&:hover{
							box-shadow: 0px 1px 4px #292C3229;						
							.nav__prev,
							.nav__next{
								opacity: 1 !important;
							}
						}
						.item_line{
							height: 1px;
							background: $border;
							width: 100%;
							margin: 11px 0;
						}
						.item_galleries{
							position: relative;
							.item_type{
								position: absolute;
								top: 12px;
								left: 12px;
								height: 24px;
								line-height: 22px;
								padding: 0 8px;
								border-radius: 12px;
								z-index: 9;
								&.type_vip{
									background: #00C2AF;
									border: 1px solid #00A394;
								}
								&.type_hot{
									background: #C91D1D;
									border: 1px solid #AE1919;
								}
								&.type_other{
									background: #E07E06;
									border: 1px solid #C26D05;
								}
								svg{
									margin-right: 2px;
								}
								span{
									color: #fff;
									font-size: 12px;
									line-height: 14px;
									font-weight: 500;
								}
							}
							.item_slider{
								position: relative;
								.child{
									height: 220px;
									border-radius: 4px;
									overflow: hidden;
									img{
										height: 100%;
										object-fit: cover;
										width: 100%;
									}
								}
								.owl-dots{
									display: -ms-flexbox;
							        display: -webkit-flex;
							        display: flex;
							        flex-wrap: wrap;
							        -ms-flex-pack: center;
							        -webkit-justify-content: center;
							        justify-content: center;
							        -ms-flex-align: center;
							        -webkit-align-items: center;
							        align-items: center;
							        height: 6px;
							        position: absolute;
							        bottom: 13px;
							        left: 0;
							        right: 0;
									.owl-dot{
										width: 4px;
										height: 4px;
										border-radius: 50%;
										background: #E3E6ED;
										margin: 0 2px;
										&.active{
											width: 6px;
											height: 6px;
											background: #00C2AF;
										}
									}
								}
								.nav__prev,
								.nav__next{
									position: absolute;
									top: 0;
									bottom: 0;
									width: 24px;
									height: 24px;
									background: #fff;
									border-radius: 50%;
									margin: auto;
									@include transition;
									cursor: pointer;
									pointer-events: auto;
									opacity: 0;
									&:hover{
										background: $color;
										svg path{
											fill: #fff;
										}
									}
									svg{
										position: absolute;
										top: 0;
										left: 0;
										right: 0;
										bottom: 0;
										margin: auto;
										pointer-events: none;
										path{
											@include transition;
										}
									}
								}
								.nav__prev{
									left: 8px;
								}
								.nav__next{
									right: 8px;
								}
							}
						}
						.item_caption{
							margin-top: 12px;
							.item_name{
								font-weight: 500;
								font-size: 16px;
								line-height: 24px;
								a{
									color: $color-dark;
									&:hover{
										color: $color-dark-hover;
									}
								}
							}
							.item_location{
								margin-top: 11px;
								grid-template-columns: 16px 1fr;
								grid-gap: 6px;
								svg{
									position: relative;
									top: -2px;
								}
							}
						}
						.item_info{
							ul{
								li{
									grid-template-columns: 16px 1fr;
									grid-gap: 6px;
									+ li{
										margin-top: 8px;
									}
								}
							}
						}
						.item_bottom{
							justify-content: space-between;
							.item_price{
								line-height: 32px;
								strong{
									color: $color;
									font-size: 16px;
									line-height: 24px;
									font-weight: 500;
								}
							}
							.item_like{
								width: 32px;
								height: 32px;
								background: #DCE1EA;
								border-radius: 8px;
								cursor: pointer;
								pointer-events: auto;
								&.active{
									background: $color;
									svg path{
										fill: #fff;
									}
								}
								svg{
									pointer-events: none;
								}
								svg path{
									@include transition;
								}
							}
						}
		 			}
					}
				}
			}
 		}
 	}