/**
 * Header
 */
 	#header{
 		box-shadow: 0px 4px 8px #292C3229;
 		position: relative;
 		z-index: 99;
 		&.active{
 			.header-scroll{
 				top: 0;
 			}
 		}
 		&.open{
 			.header-menu{
 				left: 0;
 				@media (max-width: 992px){
 					left: auto;
 					right: 0;
 				}
 			}
 			.header-dark{
 				opacity: 1;
 				visibility: visible;
 			}
 		}
 		.header-top{
 			padding: 8px 0;
 			background: #00332E;
 			position: relative;
 			z-index: 11;
 			@media (max-width: 992px){
 				display: none;
 			}
 			.box{
 				justify-content: space-between;
 				.item{
 					font-size: 12px;
 					line-height: 16px;
 					color: $color;
 					+ .item{
 						margin-left: 33px;
 					}
 					.item_icon{
 						width: 16px;
 						position: relative;
 						top: -1px;
 					}
 					.item_content{
 						margin-left: 8px;
 						a{
 							color: #E9F7F5;
 							@include transition;
						    background-image: linear-gradient(#E9F7F5, #E9F7F5);
						    background-position: 0% 100%;
						    background-repeat: no-repeat;
						    background-size: 0% 1px;
						    text-decoration: none;
							&:hover{
						    	background-size: 100% 1px;
							}
 						}
 					}
 				}
 			}
 		}
 		.header-bottom{
 			background: #fff;
 			position: relative;
 			z-index: 11;
 			@media (max-width: 992px){
 				display: none;
 			}
 			.box{
 				grid-template-columns: 212px 1fr 212px;
 				position: relative;
 				.bottom_logo{
		 			padding: 16px 0;
 					line-height: 40px;
 				}
 				.bottom_menu{
 					display: table;
 					margin: auto;
 					ul{
 						li{
 							margin: 0 16px;
 							@media (max-width: 1200px){
 								margin: 0 10px;
 							}
							&.active a{
								color: $color;
								&:after{
									width: 100%;
								}
							}
 							a{
 								display: block;
 								line-height: 72px;
 								color: $color-text;
	 							@include transition;
	 							position: relative;
								&:hover{
									color: $color;
									&:after{
										width: 100%;
									}
								}
								&:after{
									content: '';
									position: absolute;
									bottom: 0;
									left: 0;
									right: 0;
									width: 0;
									@include transition;
									height: 2px;
									margin: auto;
									background: $color;
								}
 							}
 						}
 					}
 				}
 				.bottom_actions{
 					grid-template-columns: 40px 40px 1fr;
 					grid-gap: 10px;
		 			padding: 16px 0;
 					.action{
 						line-height: 40px;
 						height: 40px;
 						position: relative;
 						text-align: center;
						background: #E3E6ED;
						border-radius: 8px;
						cursor: pointer;
						pointer-events: auto;
						&:hover{
							background: $color;
							svg path{
								fill: #fff;
							}
						}
						&.action__btn{
							background: $color;
							color: #fff;
							padding: 0 15px;
							svg{
								margin-right: 2px;
							}
							&:hover{
								background: $color-hover;
							}
						}
						svg path{
							@include transition;
						}
						svg, span{
							pointer-events: none;
						}
 					}
 				}
 			}
 		}
		.header-logined{
		    position: absolute;
		    top: calc(100% + 27px);
		    right: 0;
			box-shadow: 0 4px 8px rgba(#252A31, 0.16);
			background: #fff;
			border-radius: 4px;
			padding: 4px 0;
			width: 240px;
			opacity: 0;
			visibility: hidden;
			&.open{
				opacity: 1;
				visibility: visible;
			    top: calc(100% + 2px);
			}
			.logined_box{
				.logined_top{
					padding: 16px;
					.conn_grid{
						grid-template-columns: 40px 1fr;
						grid-gap: 12px;							
					}
					.logined_info{
						display: grid;
					}
					.logined_name{
						font-weight: 500;
						color: $color-text;
						margin-top: 2px;
					}
					.logined_mail{
						font-size: 12px;
						line-height: 16px;
						color: #4A5264;
					}
				}
				.logined_actions{
					padding-top: 4px;
					border-top: 1px solid #E9ECF1;
					.action{
						padding: 12px 16px;
						grid-template-columns: 16px 1fr;
						grid-gap: 8px;
						&:hover{
							background: #E9F7F5;
						}
						span{
							font-size: 14px;
							line-height: 16px;
							color: $color-text;
						}
						svg, span{
							pointer-events: none;
						}
					}
				}
			}
		}
 		.header-scroll{
 			position: fixed;
 			top: -60px;
 			left: 0;
 			right: 0;
 			background: #fff;
 			padding: 10px 0;
	 		box-shadow: 0px 4px 8px #292C3229;
	 		z-index: 10;
 			@include transition;
 			@media (max-width: 992px){
 				display: none;
 			}
 			.box{
 				grid-template-columns: 212px 1fr 212px;
 				position: relative;
 				.header-logined{
 					top: 52px;
 				}
 				.scroll_logo{
 					line-height: 40px;
 					grid-template-columns: 40px 1fr;
 					grid-column-gap: 16px;
 					.logo_img{

 					}
 					.logo_hambuger{
 						cursor: pointer;
 						pointer-events: auto;
 						*{
 							pointer-events: none;
 						}
 						> span{
 							margin-left: 8px;
 							line-height: 40px;
 						}
 					}
	 				.hambuger{
	 					position: relative;
						width: 18px;
						padding: 14px 0;
						top: 0;
						bottom: 0;
						transition: all 2s ease-out 0s;
				    	-webkit-transition: all 2s ease-out 0s;
						z-index: 101;
						.hamburger-box{
							width: 18px;
							height: 18px;
							cursor: pointer;
							pointer-events: auto;
							&.active{
								.hamburger-inner{
									transform: rotate(45deg) translate3d(0,0,1px);
								    transition-delay: .44s;
								    transition-duration: .2s;
								    transition-timing-function: cubic-bezier(0.215,.61,.355,1);
								    &:before{
							    	    top: 0;
									    opacity: 0;
									    transition: top .2s ease,opacity .2s .44s ease,background-color .2s ease .2s;
								    }
								    &:after{
								    	bottom: 0;
									    transform: rotate(-90deg) translate3d(0,0,1px);
									    transition: bottom .2s ease,transform .2s .44s cubic-bezier(0.215,.61,.355,1),background-color .2s ease .2s;
								    }
								}
							}
							.hamburger-inner{
								transition-duration: .1s;
							    transition-timing-function: cubic-bezier(0.55,.055,.675,.19);
							    width: 18px;
							    -webkit-backface-visibility: hidden;
							    will-change: transform;
							    height: 2px;
							    transform: rotate(0deg) translate3d(0,0,1px);
							    background-color: #292C32;
							    border-radius: 4px;
							    position: absolute;
							    transition-property: transform;
							    transition-duration: .15s;
							    transition-timing-function: ease;
							    top: 0;
							    bottom: 0;
							    margin: auto;
							    right: 0;
							    &:before,
							    &:after{
							    	width: 18px;
								    -webkit-backface-visibility: hidden;
								    will-change: transform;
								    height: 2px;
								    transform: rotate(0deg) translate3d(0,0,1px);
								    background-color: #292C32;
								    border-radius: 4px;
								    position: absolute;
								    transition-property: transform;
								    transition-duration: .15s;
								    transition-timing-function: ease;
							    }
							    &:before{
							    	content: "";
								    display: block;
								    top: -7px;
							    	transition: top .1s .14s ease,opacity .1s ease;
							    }
							    &:after{
							    	content: "";
								    display: block;
								    bottom: -7px;
							    	transition: bottom .1s .14s ease,transform .1s cubic-bezier(0.55,.055,.675,.19);
							    }
							}
						}
					}
 				}
 				.scroll_filter{
					.filter__control{
						grid-template-columns: 1fr 40px;
						max-width: 588px;
						margin: auto;
						@media (max-width: 1200px){
							width: 90%;
						}
						.control_box{							
							grid-template-columns: 254px 1fr;
							border: 1px solid #BCC3D2;
							border-right: 0;
							border-radius: 3px 0 0 3px;
							height: 40px;
							.control_dropdown{
								position: relative;
								&.open{
									.dropdown_current{										
										.icon__right{
											transform: rotate(180deg);
										}
									}
									.dropdown_options{
										opacity: 1;
										visibility: visible;
									}
								}
								.dropdown_current{
									position: relative;
									line-height: 36px;
									border-radius: 3px;
									background: #fff;
									height: 38px;
									padding-top: 2px;
								    overflow: hidden;
								    text-overflow: ellipsis;
								    white-space: nowrap;
									&.has_value{
										span{
											color: #292C32;
										}
									}
									.icon__left{
										position: absolute;
										left: 12px;
										top: 0;
										bottom: 0;
										margin: auto;
										width: 24px;
										height: auto;
										svg{
											width: 24px;
											height: auto;
										}
									}
									.icon__right{
										position: absolute;
										right: 12px;
										top: 0;
										bottom: 0;
										margin: auto;
									}
									svg{
										pointer-events: none;
									}
									span{
										color: #BCC3D2;
										padding: 0 44px;
										pointer-events: none;
									}
									input{
										padding: 0 44px;
										border: 0;
										outline: none;
										border-radius: 0;
										color: #292C32;
										&::-webkit-input-placeholder {
										  	color: #BCC3D2;
										}

										&:-ms-input-placeholder {
										  	color: #BCC3D2;
										}

										&::placeholder {
										  	color: #BCC3D2;
										}
									}
								}
								.dropdown_options{
									opacity: 0;
									visibility: hidden;
									position: absolute;
								    top: 50px;
								    left: -1px;
								    right: -1px;
								    background: #fff;
								    z-index: 99;
							        border-radius: 4px;
								    box-shadow: 0px 1px 8px rgba(#252A31, 0.16);
								    padding: 4px 0;
								    ul{
								    	list-style-type: none;
								    	padding: 0;
								    	margin: 0;
									    max-height: 240px;
									    overflow: auto;
								    	li{
								    		padding: 12px 36px 9px;
										    color: #252A31;
										    line-height: 19px;
										    position: relative;
										    &:hover{
										    	background: #E9F7F5;
										    }
										    &.current{
										    	background: #E9F7F5;
										    	color: #00C2AF;
										    	&:after{
										    		content: '';
										    		background: url(../images/icon-tick.svg) center /cover;
										    		width: 16px;
										    		height: 16px;
										    		position: absolute;
										    		top: 12px;
										    		right: 12px;
										    	}
										    	svg path{
										    		fill: #00C2AF;
										    	}
										    }
										    .li_icon{
										    	position: absolute;
										    	top: 10px;
										    	left: 12px;
										    	svg{
										    		width: 16px;
										    		height: auto;
										    	}
										    }
										    .li_icon,
										    .li_text{
										    	pointer-events: none;
										    }
								    	}
								    }
								}
							}
							.control_input{
								position: relative;
								&:before{
									content: '';
									position: absolute;
									left: 0;
									top: 8px;
									bottom: 8px;
									background: #BCC3D2;
									width: 1px;
								}
								input{
									width: 100%;
									line-height: 36px;
									border: 0;
									border-radius: 0;
									outline: none;
									padding: 2px 16px 0;
									color: #292C32;
									&::-webkit-input-placeholder {
									  	color: #BCC3D2;
									}

									&:-ms-input-placeholder {
									  	color: #BCC3D2;
									}

									&::placeholder {
									  	color: #BCC3D2;
									}
								}
							}
						}
						.conn_icon{
							background: $color;
							border: 0;
							outline: none;
							border-radius: 0 3px 3px 0;
							&:hover{
								background: $color-hover;
							}
						}
					}
 				}
 				.scroll_actions{
 					grid-template-columns: 40px 40px 1fr;
 					grid-gap: 10px;
 					.action{
 						line-height: 40px;
 						height: 40px;
 						position: relative;
 						text-align: center;
						background: #E3E6ED;
						border-radius: 8px;
						cursor: pointer;
						pointer-events: auto;
						&:hover{
							background: $color;
							svg path{
								fill: #fff;
							}
						}
						&.action__btn{
							background: $color;
							color: #fff;
							padding: 0 15px;
							svg{
								margin-right: 2px;
							}
							&:hover{
								background: $color-hover;
							}
						}
						svg path{
							@include transition;
						}
						svg, span{
							pointer-events: none;
						}
 					}
 				}
 			}
 		}
 		.header-mobile{
 			position: fixed;
 			background: #fff;
 			left: 0;
 			right: 0;
 			top: 0;
			display: none;
		    box-shadow: 0px 4px 8px #292c3229;
		    z-index: 100;
			@media (max-width: 992px){
				display: block;
			}
 			.mobile_top{
 				padding: 10px 12px;
 				position: relative;
 				z-index: 1;
 				height: 60px;
 				grid-template-columns: 40px calc(100% - 48px - 96px) 88px;
				grid-column-gap: 8px;
 				.logo{
 					img{
 						height: 40px;
 						width: auto;
 					}
 				}
 				.filter{
 					grid-template-columns: calc(100% - 40px) 40px;
 					.filter__text{
 						border-radius: 4px 0 0 4px;
 						padding: 10px 16px 8px;
 						border: 1px solid #BCC3D2;
 						border-right: 0;
					  	color: #BCC3D2;
 					}
 					.filter__btn{
 						border: 0;
 						background: $color;
 						border-radius: 0 4px 4px 0;
 						&:hover{
 							background: $color-hover;
 						}
 					}
 				}
 				.actions{
 					grid-template-columns: repeat(auto-fit, 40px);
 					grid-column-gap: 8px;
 					width: 88px;
 					.action{
 						position: relative;
 						width: 40px;
 						height: 40px;
 					}
 				}
				.hambuger{
					position: absolute;
					left: 0;
					right: 0;
					margin: auto;
					width: 18px;
					padding: 14px 0;
					top: 0;
					bottom: 0;
					transition: all 2s ease-out 0s;
			    	-webkit-transition: all 2s ease-out 0s;
					z-index: 101;
					.hamburger-box{
						width: 18px;
						height: 18px;
						cursor: pointer;
						pointer-events: auto;
						&.active{
							.hamburger-inner{
								transform: rotate(45deg) translate3d(0,0,1px);
							    transition-delay: .44s;
							    transition-duration: .2s;
							    transition-timing-function: cubic-bezier(0.215,.61,.355,1);
							    &:before{
						    	    top: 0;
								    opacity: 0;
								    transition: top .2s ease,opacity .2s .44s ease,background-color .2s ease .2s;
							    }
							    &:after{
							    	bottom: 0;
								    transform: rotate(-90deg) translate3d(0,0,1px);
								    transition: bottom .2s ease,transform .2s .44s cubic-bezier(0.215,.61,.355,1),background-color .2s ease .2s;
							    }
							}
						}
						.hamburger-inner{
							transition-duration: .1s;
						    transition-timing-function: cubic-bezier(0.55,.055,.675,.19);
						    width: 18px;
						    -webkit-backface-visibility: hidden;
						    will-change: transform;
						    height: 2px;
						    transform: rotate(0deg) translate3d(0,0,1px);
						    background-color: #292C32;
						    border-radius: 4px;
						    position: absolute;
						    transition-property: transform;
						    transition-duration: .15s;
						    transition-timing-function: ease;
						    top: 0;
						    bottom: 0;
						    margin: auto;
						    right: 0;
						    &:before,
						    &:after{
						    	width: 18px;
							    -webkit-backface-visibility: hidden;
							    will-change: transform;
							    height: 2px;
							    transform: rotate(0deg) translate3d(0,0,1px);
							    background-color: #292C32;
							    border-radius: 4px;
							    position: absolute;
							    transition-property: transform;
							    transition-duration: .15s;
							    transition-timing-function: ease;
						    }
						    &:before{
						    	content: "";
							    display: block;
							    top: -7px;
						    	transition: top .1s .14s ease,opacity .1s ease;
						    }
						    &:after{
						    	content: "";
							    display: block;
							    bottom: -7px;
						    	transition: bottom .1s .14s ease,transform .1s cubic-bezier(0.55,.055,.675,.19);
						    }
						}
					}
				}
 			}
 		}
 		.header-menu{
 			width: 100%;
 			max-width: 375px;
 			background: #fff;
 			position: fixed;
		    top: 0;
		    bottom: 0;
		    z-index: 99;
		    left: -450px;
		    @include transition;
		    @media (max-width: 992px){
		    	top: 60px;
		    	left: auto;
		    	right: -450px;
		    }
		    @media (max-width: 767px) and (min-width: 451px){
		    	overflow: auto;
		    }
		    @media (max-width: 450px){
		    	max-width: 100%;
		    }
		    .menu_hambuger{
		    	position: absolute;
		    	right: -40px;
		    	width: 40px;
		    	height: 40px;
		    	background: #fff;
		    	border-radius: 0 0 4px 0;
		    	pointer-events: auto;
		    	cursor: pointer;
		    	@media(max-width: 992px){
		    		display: none;
		    	}
		    }
			.hambuger{
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				width: 18px;
				padding: 14px 0;
				top: 0;
				bottom: 0;
				transition: all 2s ease-out 0s;
		    	-webkit-transition: all 2s ease-out 0s;
				z-index: 101;
				.hamburger-box{
					width: 18px;
					height: 18px;
					cursor: pointer;
					pointer-events: auto;
					&.active{
						.hamburger-inner{
							transform: rotate(45deg) translate3d(0,0,1px);
						    transition-delay: .44s;
						    transition-duration: .2s;
						    transition-timing-function: cubic-bezier(0.215,.61,.355,1);
						    &:before{
					    	    top: 0;
							    opacity: 0;
							    transition: top .2s ease,opacity .2s .44s ease,background-color .2s ease .2s;
						    }
						    &:after{
						    	bottom: 0;
							    transform: rotate(-90deg) translate3d(0,0,1px);
							    transition: bottom .2s ease,transform .2s .44s cubic-bezier(0.215,.61,.355,1),background-color .2s ease .2s;
						    }
						}
					}
					.hamburger-inner{
						transition-duration: .1s;
					    transition-timing-function: cubic-bezier(0.55,.055,.675,.19);
					    width: 18px;
					    -webkit-backface-visibility: hidden;
					    will-change: transform;
					    height: 2px;
					    transform: rotate(0deg) translate3d(0,0,1px);
					    background-color: #292C32;
					    border-radius: 4px;
					    position: absolute;
					    transition-property: transform;
					    transition-duration: .15s;
					    transition-timing-function: ease;
					    top: 0;
					    bottom: 0;
					    margin: auto;
					    right: 0;
					    &:before,
					    &:after{
					    	width: 18px;
						    -webkit-backface-visibility: hidden;
						    will-change: transform;
						    height: 2px;
						    transform: rotate(0deg) translate3d(0,0,1px);
						    background-color: #292C32;
						    border-radius: 4px;
						    position: absolute;
						    transition-property: transform;
						    transition-duration: .15s;
						    transition-timing-function: ease;
					    }
					    &:before{
					    	content: "";
						    display: block;
						    top: -7px;
					    	transition: top .1s .14s ease,opacity .1s ease;
					    }
					    &:after{
					    	content: "";
						    display: block;
						    bottom: -7px;
					    	transition: bottom .1s .14s ease,transform .1s cubic-bezier(0.55,.055,.675,.19);
					    }
					}
				}
			}
			.menu_top{
			    height: calc(100vh - 208px);
			    overflow: auto;
			    @media (max-width: 992px){
				    height: calc(100vh - 208px - 60px);			    	
			    }
			    @media (max-width: 767px) and (min-width: 451px){
			    	height: auto;
			    }
			}
		    .menu_bottom{
		    	position: absolute;
		    	bottom: 0;
		    	left: 0;
		    	right: 0;
			    @media (max-width: 767px) and (min-width: 451px){
			    	position: static;
			    }
		    }
		    .menu_user{
		    	.user__btn{
		    		width: 100%;
		    		svg{
		    			position: static;
		    			margin-right: 8px;
		    		}
		    		span{
		    			display: inline-block;
					    font-weight: 500;
					    position: relative;
					    top: 2px;
		    		}
		    	}

				.menu_logined{
					background: #F5F6F9;
					border-radius: 4px;
					padding: 4px 0;
					.logined_box{
						.logined_top{
							padding: 16px;
							.conn_grid{
								grid-template-columns: 40px 1fr;
								grid-gap: 12px;							
							}
							.logined_info{
								display: grid;
							}
							.logined_name{
								font-weight: 500;
								color: $color-text;
								margin-top: 2px;
							}
							.logined_mail{
								font-size: 12px;
								line-height: 16px;
								color: #4A5264;
							}
						}
						.logined_actions{
							padding-top: 4px;
							border-top: 1px solid #E9ECF1;
							.action{
								padding: 12px 16px;
								grid-template-columns: 16px 1fr;
								grid-gap: 8px;
								&:hover{
									background: #E9F7F5;
								}
								span{
									font-size: 14px;
									line-height: 16px;
									color: $color-text;
								}
								svg, span{
									pointer-events: none;
								}
							}
						}
					}
				}
		    }
		    .menu_menus{
		    	ul{
		    		li{
		    			padding: 10px 0;
		    			&.active{
		    				a{
		    					color: $color;
		    				}
		    			}
		    			a{
		    				display: block;
		    				padding: 7px 16px 4px;
		    				font-size: 16px;
		    				line-height: 24px;
		    				color: $color-text;
		    				@include transition;
		    				&:hover{
		    					color: $color;
		    				}
		    			}
		    		}
		    	}
		    }
		    .menu_pin{
		    	.pin__btn{
		    		display: block;
		    	}
		    }
		    .menu_contacts{
		    	padding: 8px 0;
		    	background: #F5F6F9;
		    	.item{
		    		font-size: 12px;
 					line-height: 16px;
 					color: $color;
 					padding: 11px 16px 12px;
 					.item_icon{
 						width: 16px;
 						position: relative;
 						top: -1px;
 					}
 					.item_content{
 						margin-left: 6px;
 						a{
 							color:#292C32;
 							@include transition;
						    text-decoration: none;
							&:hover{
						    	color: $color;
							}
 						}
 					}
		    	}
		    }
 		}
		.header-dark{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(10,13,20,.4);
			z-index: 98;
			opacity: 0;
			visibility: hidden;
			@include transition;
		}
		.header-mfilter{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #fff;
			z-index: 1000;
			font-size: 13px;
			opacity: 0;
			visibility: hidden;
			&.open{
				opacity: 1;
				visibility: visible;
			}
			.mfilter_scroll{
				max-height: calc(100vh - 100px);
				overflow: auto;
				padding: 30px;
				position: relative;
				@media (max-width: 450px){
					padding: 30px 15px;
				}
			}
			.mfilter_close{
				width: 40px;
				height: 40px;
				position: absolute;
				top: 0px;
				right: 0px;
			}
			.mfilter_title{
				margin-bottom: 40px;
			}
			.mfilter_tabs{
			    width: 100%;
			    margin: 20px 0 10px;
			    grid-template-columns: repeat(2, minmax(100px,1fr));
			    li{
		    	    text-align: center;
				    border: 1px solid #d8e7f4;
				    padding: 12px;
				    &.tab_active{
				    	background: #d8e7f4;
					    border-radius: 3px 0 0 3px;
				    }
				    &:nth-child(1){
				    	border-radius: 3px 0 0 3px;
					    border-right: none;
					    box-sizing: border-box;
				    }
				    &:nth-child(2){
			    	    border-radius: 0 3px 3px 0;
					    border-left: none;
					    box-sizing: border-box;
				    }
			    }
			}
			.mfilter_options{
				.option_box{
					border-radius: 2px;
				    border: 1px solid #d8e7f4;
				    margin-bottom: 10px;
				    position: relative;
				    line-height: 40px;
				    height: 40px;
				    select{
				    	display: block;
				    	height: 38px;
				    	line-height: 38px;
				    	width: 100%;
				    	outline: none;
				    	border: 0;
				    	padding: 0 40px 0 20px;
				    	-webkit-appearance: none;
					    -moz-appearance: none;
					    text-indent: 1px;
					    text-overflow: '';
					    ::-ms-expand {
						    display: none;
						}
				    }
				    svg{
				    	position: absolute;
				    	top: 8px;
				    	right: 8px;
				    }
				}
				.input_box{
				    input{
				    	width: 100%;
				    	outline: none;
				    	border: 0;
				    	padding: 0 20px;	
						border-radius: 2px;
					    border: 1px solid #d8e7f4;
					    margin-bottom: 10px;
					    position: relative;
					    line-height: 40px;
					    height: 40px;			    	
				    }					
				}
			}
			.mfilter_btn{
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 30px;
				@media (max-width: 450px){
					padding: 30px 15px;
				}
				.conn_ibutton{
					width: 100%;
				}
			}
		}
 	}