// FONT
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800&subset=vietnamese,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800&subset=vietnamese,latin-ext");
// END FONT

/**
 * [$color description]
 */
	$color: #00C2AF;
    $color-hover: #00A394;
    $color-dark: #007066;
    $color-dark-hover: #005C53;
    $color-text: #252A31;
    $slate: #4a5264;
    $slate-hover: #3d4452;
    $border: #E9ECF1;

/**
 * [mixin description]
 */
	@mixin transition{
		transition: all 0.3s ease-out 0.2s;
		-webkit-transition: all 0.3s ease-out 0.2s;
	}

	@mixin textConver($a) {
	    display: -webkit-box;
	    -webkit-line-clamp: $a;
	    overflow: hidden;
	    -webkit-box-orient: vertical;
	}

/**
 * [Global style description]
 */
	*{
		cursor: default;
	}
	body{
		font-family: 'Roboto';
		font-size: 14px;
        line-height: 20px;
		font-weight: normal;
		&.none-scroll{
			overflow: hidden;
		}
	}
	
	a{cursor: pointer; pointer-events: auto}
	a{text-decoration: none;}	

	img{
		max-width: 100%;
	}

	@media (min-width: 1201px){
		.container{
			width: 1230px;
            max-width: 1230px;
		}
	}

    .conn_ibutton{
        line-height: 40px;
        height: 40px;
        position: relative;
        text-align: center;        
        background: $color;
        color: #fff;
        pointer-events: auto;
        @include transition;
        padding: 0 15px;
        border-radius: 8px;
        cursor: pointer;
        outline: none;
        border: 0;
        font-weight: 500;
        &:hover{
            background: #00A394;
            color: #fff;
            svg path{
                fill: #fff;
            }
        }
        svg{
            margin-right: 2spx;
        }
        svg path{
            @include transition;
        }
        svg, span{
            pointer-events: none;
        }
    }

    .conn_icon{
        width: 40px;
        line-height: 40px;
        height: 40px;
        position: relative;
        text-align: center;
        background: #E3E6ED;
        border-radius: 8px;
        cursor: pointer;
        pointer-events: auto;
        @include transition;
        &:hover{
            background: #dce1ea;
        }
        svg{
            pointer-events: none;
        }
    }

    .conn_sicon{
        width: 32px;
        line-height: 32px;
        height: 32px;
        position: relative;
        text-align: center;
        background: #E3E6ED;
        border-radius: 8px;
        cursor: pointer;
        pointer-events: auto;
        @include transition;
        &:hover{
            background: #dce1ea;
        }
        &.active{
            svg{
                path{
                    fill: #00c2af;
                    &.i_active{
                        opacity: 1;
                    }
                }
            }
        }
        svg{
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            path{                
                @include transition;
                &.i_active{
                    opacity: 0;
                }
            }
        }
    }

    .conn_relative{
        position: relative;
        z-index: 9;
    }

    .conn_flex{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
    }

    .conn_flex__center{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .conn_flex__cleft{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .conn_flex__end{        
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -ms-flex-align: flex-end;
        -webkit-align-items: flex-end;
        align-items: flex-end;
    }

    .conn_grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    .conn_anim{
        transition: all 0.2s ease-out 0.2s;
        -webkit-transition: all 0.2s ease-out 0.2s;
    }

    .conn_lanim{
        transition: all 0.5s ease-out 0.5s;
        -webkit-transition: all 0.5s ease-out 0.5s;
    }

    .conn_center{
        text-align: center;
    }

    .conn_pcenter{
    	position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	margin: auto;
    }

	.conn_ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

    .conn_up{
        text-transform: uppercase;
    }

    .conn_ani{
	    opacity: 0;
	    transform: translateY(3rem);
	    transition: opacity .6s cubic-bezier(.65,.025,.67,.36),transform .6s cubic-bezier(.65,.025,.67,.36);
    }

    [data-anim="true"] .conn_ani{
    	opacity: 1;
	    transform: translateY(0);
	    transition: opacity .8s cubic-bezier(.34,.615,.4,.985),transform .8s cubic-bezier(.34,.615,.4,.985);
    }

    .conn_heading{
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0px;
        font-weight: 500;
        color: #252A31;
        margin: 0;
        @media (max-width: 450px){
            font-size: 24px;
            line-height: 1.3;
        }
    }
    .conn_sheading{
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0px;
        font-weight: 500;
        color: #252A31;
        margin: 0;
        @media (max-width: 450px){
            font-size: 18px;
            line-height: 1.3;
        }
    }
    .conn_btext{
        font-size: 16px;
        line-height: 24px;
        color: $color-text;
    }
    .conn_text{
        font-size: 12px;
        line-height: 16px;
        font-weight: bold;
        color: $slate;
    }
    
    .conn_white{
        color: #fff;
        &:hover,
        &:focus{
            color: #fff;
        }
    }

/**
 * Tooltip
 */
    [aria-label][role~="tooltip"] {
        position: relative
    }

    [aria-label][role~="tooltip"]::before,[aria-label][role~="tooltip"]::after {
        transform: translate3d(0,0,0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform;
        opacity: 0;
        pointer-events: none;
        transition: all var(--microtip-transition-duration,.18s) var(--microtip-transition-easing,ease-in-out) var(--microtip-transition-delay,0s);
        position: absolute;
        box-sizing: border-box;
        z-index: 10;
        transform-origin: top;
        @media (max-width: 992px){
            display: none;
        }
    }

    [aria-label][role~="tooltip"]::before {
        background-size: 100% auto!important;
        content: ""
    }

    [aria-label][role~="tooltip"]::after {
        background: rgba(17,17,17,.9);
        border-radius: 4px;
        color: #fff;
        content: attr(aria-label);
        font-size: var(--microtip-font-size,13px);
        font-weight: var(--microtip-font-weight,normal);
        text-transform: var(--microtip-text-transform,none);
        padding: .5em 1em;
        white-space: nowrap;
        box-sizing: content-box
    }

    [aria-label][role~="tooltip"]:hover::before,[aria-label][role~="tooltip"]:hover::after,[aria-label][role~="tooltip"]:focus::before,[aria-label][role~="tooltip"]:focus::after {
        opacity: 1;
        pointer-events: auto
    }

    [role~="tooltip"][data-microtip-position|="top"]::before {
        background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%280%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E) no-repeat;
        height: 6px;
        width: 18px;
        margin-bottom: 5px
    }

    [role~="tooltip"][data-microtip-position|="top"]::after {
        margin-bottom: 11px
    }

    [role~="tooltip"][data-microtip-position|="top"]::before {
        transform: translate3d(-50%,0,0);
        bottom: 100%;
        left: 50%
    }

    [role~="tooltip"][data-microtip-position|="top"]:hover::before {
        transform: translate3d(-50%,-5px,0)
    }

    [role~="tooltip"][data-microtip-position|="top"]::after {
        transform: translate3d(-50%,0,0);
        bottom: 100%;
        left: 50%
    }

    [role~="tooltip"][data-microtip-position="top"]:hover::after {
        transform: translate3d(-50%,-5px,0)
    }

    [role~="tooltip"][data-microtip-position="top-left"]::after {
        transform: translate3d(calc(-100% + 16px),0,0);
        bottom: 100%
    }

    [role~="tooltip"][data-microtip-position="top-left"]:hover::after {
        transform: translate3d(calc(-100% + 16px),-5px,0)
    }

    [role~="tooltip"][data-microtip-position="top-right"]::after {
        transform: translate3d(calc(0% + -16px),0,0);
        bottom: 100%
    }

    [role~="tooltip"][data-microtip-position="top-right"]:hover::after {
        transform: translate3d(calc(0% + -16px),-5px,0)
    }

    [role~="tooltip"][data-microtip-position|="bottom"]::before {
        background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28180%2018%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E) no-repeat;
        height: 6px;
        width: 18px;
        margin-top: 5px;
        margin-bottom: 0
    }

    [role~="tooltip"][data-microtip-position|="bottom"]::after {
        margin-top: 11px
    }

    [role~="tooltip"][data-microtip-position|="bottom"]::before {
        transform: translate3d(-50%,-10px,0);
        bottom: auto;
        left: 50%;
        top: 102%
    }

    [role~="tooltip"][data-microtip-position|="bottom"]:hover::before {
        transform: translate3d(-50%,0,0)
    }

    [role~="tooltip"][data-microtip-position|="bottom"]::after {
        transform: translate3d(-50%,-10px,0);
        top: 100%;
        left: 50%
    }

    [role~="tooltip"][data-microtip-position="bottom"]:hover::after {
        transform: translate3d(-50%,0,0)
    }

    [role~="tooltip"][data-microtip-position="bottom-left"]::after {
        transform: translate3d(calc(-100% + 16px),-10px,0);
        top: 100%
    }

    [role~="tooltip"][data-microtip-position="bottom-left"]:hover::after {
        transform: translate3d(calc(-100% + 16px),0,0)
    }

    [role~="tooltip"][data-microtip-position="bottom-right"]::after {
        transform: translate3d(calc(0% + -16px),-10px,0);
        top: 100%
    }

    [role~="tooltip"][data-microtip-position="bottom-right"]:hover::after {
        transform: translate3d(calc(0% + -16px),0,0)
    }

    [role~="tooltip"][data-microtip-position="left"]::before,[role~="tooltip"][data-microtip-position="left"]::after {
        bottom: auto;
        left: auto;
        right: 100%;
        top: 50%;
        transform: translate3d(10px,-50%,0)
    }

    [role~="tooltip"][data-microtip-position="left"]::before {
        background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28-90%2018%2018%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E) no-repeat;
        height: 18px;
        width: 6px;
        margin-right: 5px;
        margin-bottom: 0
    }

    [role~="tooltip"][data-microtip-position="left"]::after {
        margin-right: 11px
    }

    [role~="tooltip"][data-microtip-position="left"]:hover::before,[role~="tooltip"][data-microtip-position="left"]:hover::after {
        transform: translate3d(0,-50%,0)
    }

    [role~="tooltip"][data-microtip-position="right"]::before,[role~="tooltip"][data-microtip-position="right"]::after {
        bottom: auto;
        left: 100%;
        top: 50%;
        transform: translate3d(-10px,-50%,0)
    }

    [role~="tooltip"][data-microtip-position="right"]::before {
        background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%2890%206%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E) no-repeat;
        height: 18px;
        width: 6px;
        margin-bottom: 0;
        margin-left: 5px
    }

    [role~="tooltip"][data-microtip-position="right"]::after {
        margin-left: 11px
    }

    [role~="tooltip"][data-microtip-position="right"]:hover::before,[role~="tooltip"][data-microtip-position="right"]:hover::after {
        transform: translate3d(0,-50%,0)
    }

    [role~="tooltip"][data-microtip-size="small"]::after {
        white-space: initial;
        width: 80px
    }

    [role~="tooltip"][data-microtip-size="medium"]::after {
        white-space: initial;
        width: 150px
    }

    [role~="tooltip"][data-microtip-size="large"]::after {
        white-space: initial;
        width: 260px
    }
